MONGO_URL=mongodb://localhost:27017/Grocerease
JWT_SECRET=aj
DOMAIN=http://localhost:3000 
STRIPE_SECRET_KEY=sk_test_51QNBMcFTHEQQpVcc7DjbmrMGYCNuuBFB6Gf743enRcwH86aMmigOW8arehtW6jMjAT433Imv66S1HKnfg3ewnGhX00csVwfyKW